<%= simple_form_for @manager, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>
  <%= f.association :artist, collection: Artist.order(:name), required: true,
   label: "Artist", label_method: :name, input_html: { class: 'chzn-select'} %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_path, :class => 'btn' %>
  </div>
<% end %>
