<%= simple_form_for @song, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.association :album, collection: Album.order(:album_title),
   required: true, label: "Album", label_method: :album_title,
    input_html: { class: 'chzn-select'} %>
  <%= f.input :song_title %>
  <%= f.input :song_duration %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                songs_path, :class => 'btn' %>
  </div>
<% end %>
