<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th>Song title</th>
      <th>Song duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.album_id %></td>
      <td><%= song.song_title %></td>
      <td><%= song.song_duration %></td>
      <td><%= link_to 'Show', song %></td>
      <td><%= link_to 'Edit', edit_song_path(song) %></td>
      <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
