<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @song.album_id %>
</p>

<p>
  <strong>Song title:</strong>
  <%= @song.song_title %>
</p>

<p>
  <strong>Song duration:</strong>
  <%= @song.song_duration %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
