<%= simple_form_for @producer, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>
  <%= f.input  :year_started, collection: 1900..2013,
   input_html: { class: 'chzn-select'} %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                producers_path, :class => 'btn' %>
  </div>
<% end %>
