<!DOCTYPE html>
<html>
<head>
  <title>Kursach</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar container-fixed-top">
  <div class="navbar-inner">
    <a href="#" class="brand">Music DB</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <%= msg %>
    </div>
  <% end %>
  <div class="span9">
    <%= yield %>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>


</body>
</html>
